---
title: audio
layout: layout
---

<div width="100%">
  <video autoplay loop controls width="480" height="320">
    <source src="/video/chengdu.mp4">
    An audio clip from video .
  </video>
</div>