---
title: GeoLocation
layout: layout
---

<div width="100%">
  <div id = "support"></div>
  <div id ="status"></div>
  <input type="button" value="Geolocation" onclick="getGeolocation()" />
  <div id="latitude">latitude</div>
  <div id="longitude">longitude</div>
  <div id="accuracy">accuracy</div>
</div>