---
title: canvas
layout: layout
---

<br>
<div>
 canvas
 <canvas style="background: #123456;">Hello World</canvas>
 <canvas id="diagonal" style="border:1px solid;" width="200px" height="200"></canvas>

 <canvas id="diagonal_translate" style="border:1px solid;" width="200px" height="200"></canvas>
</div>